body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-align: justify;
}
h1 { text-align: center; margin-top: 20px; padding: 0px; }
/*.container > * { margin-bottom: 50px }*/
#table-container { margin-top: 50px; height: 600px; overflow: auto; }
#table-container tbody td { vertical-align: middle; }
#table-container tbody td.class-text { width: 27%; text-align: left; }
.score { font-weight: bold; text-align: center; }
.thumb div {    
    width: 120px;
    height: 120px;
    display: inline-block;
    background-position: center center;
    background-size: cover;
}
.acks {
    height: 200px;
    padding-top:160px;
}
#query-img {
    margin-bottom: 10px;
    width: 100%;
    min-width: 100px;
    display: block;
}

#answer {
    position: fixed;
    bottom: 30%;
    padding-left: 10px;
    padding-right: 10px;
    width: 29%;
    margin-left: 30%;
    background-color: #f1f1f1fa;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16),0 5px 20px 0 rgba(0,0,0,0.12) !important;
    border: 4px;
    border-radius: 15px;
    justify-content: center;
}

#answer>p {
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
    color: green;
    display: block;
    margin: 10%;
}

#answer>img {
    width: 25%;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
    left: -15px;
}

.affix #query-img {
    width: 50%;
    margin-bottom: 0px;
    display: inline;
}
.affix #query-elem {
    margin-top: 5px;
    min-width: 100px;
}

.affix #query-btn {
    display: none;
}
.affix + .more-padding {
    padding-top: 300px;
}
.affix + .less-padding {
    padding-top: 70px;
}
.result-img {
    margin-bottom: 10px;
    width: 100%;
}

#query-elem {
    margin-top: 20px;
    width: 40%;
    min-width: 150px;
    display: inline-block;
}
#query-container {
    background-color: #f1f1f1fa;
    padding: 0.01em 16px 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
#images-container {
    overflow: auto;
}

.img-thumbnail {
    padding: 1%;
}

.placeholder {
    padding-right: 0.9%;
    padding-left: 0.9%;
    width: 25%;
    height: 25%;
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center;
    background-image: url('loader3.gif');
}

.samples-footer {
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    background-color: #f1f1f1fa;
    display: inline-block;
}
.samples-footer a{
    float: right;
}
.load-more {
    justify-content: center;
}

.disabledLink {
    pointer-events:none;
}

form {
    background-color: #e1f1e1fa;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    margin-left: 15px;
    margin-bottom: 15px;
}

.form-group {
    padding: 30px;
}

#input-type{
    float: left;
}

input {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
}

#logo img {
    margin: 0 auto;
    width: 10%;
    margin-left: 15px;
}

#logo+p {
    text-align: center;
}

#record {
    width: 64px;
}

.clevr-img {
    -webkit-filter: brightness(1.4);
    -moz-filter: brightness(1.4);
    -o-filter: brightness(1.4);
    -ms-filter: brightness(1.4);
    filter: brightness(1.4);
}

.title {
    justify-content: center;
    margin-bottom: 20px;
}
    
    
